


.navbar {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #F1F7ED;
    color: #214F4B;
  }

  .li {
    list-style-type: none;
    margin: 0 1rem;
    text-decoration: none;
  }