:root {
  --palegreen: #F1F7ED;
  --darkgreen: #214F4B;
  --font: 'Inknut Antiqua';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: var(--darkgreen);
}


h1 {
font-size: 5vh;
display: flex;
justify-content: center;
}


.button-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.button-moustache {
  background-image: url(
      "https://live.staticflickr.com/65535/52154229597_ce18075675_w.jpg");
  background-size: cover;
  width: 400px;
  height: 160px; 
  border: none;
  margin-bottom: 350px;
  position: absolute;
}

button:hover {
  transform: scale(1.15);
}

.quote-display {
  font-size: 3vh;
  position: absolute;
  margin-top: 50px;
  margin-left: 400px;
  margin-right: 350px;
}
.container {
  display: flex;
  height: 90vh;
}

.left {
  background-color: blanchedalmond;
  width: 50vw;
  
}

.right {
  background-color: azure;
  width: 50vw;
  display: flex;
  flex-direction: column;
}

.ron {
  height: 90vh;
}